*{
    margin: 0;
}



@font-face {
    font-family: 'Music-Vibes';
    src: url(fontes/Music\ Vibes.otf) format(opentype);
}

body{
    width: 100%;
    height: 100vh;
    background-position: center top;
    background-image: url(Imagens/wallpaper.webp);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

header{
    background-color: rgba(39, 35, 35, 0.336);
    text-align: center;
    border: 1px solid black;
    padding: 20px;
    margin: 50px ;
}
header > h1{
    font-family: 'Music-Vibes';
    color: white;
    font-size: 3em;
    margin: 7px 0px 15px 0px;
    font-size: bold;
}


header > nav > a{
    margin: 0px 15px;
    text-decoration: none;
    color:white;
    transition-duration: 1s;
    font-size: 1em;
}

header > nav > a:hover{
    background-color: black;
    padding: 4px;
    border-radius: 10px;
    color: rgb(111, 135, 142);
}

main{
    max-width: 600px;
    margin: auto;
    text-align: justify;
    background-color:   rgba(39, 35, 35, 0.336);
    border-radius: 10px;
    padding: 10px 30px;
}

