body{
    background-image: url(imagens/8325947-mecanico-ferramenta-logotipo-icone-design-gratis-vetor.jpg);
    background-size: 30px;
}

header{
    background-image: url(imagens/topo-ferramentas-para-ter-em-casa.jpg);
    margin: 15px 200px 0px 50px;
    height: 150px;
    background-size: 100% 100%;
    background-attachment: ;
}